
<div class="yellow-box">
<h2>Your question:</h2>
<p><%= @question %></p>
</div>

<div class="yellow-box">
<h2>The answer from the coach:</h2>
<p><%= @answer %></p>
</div>

<div class="button-box">
<%= link_to 'Ask new question', ask_path %>
</div>
