<h1>Welcome to our question page</h1>
<h2>Ask anything you want</h2>
<h3>The coach is there to help you👌</h3>

<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
