// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: white; // Using this variable
}

a {
  color: blue;
  &:hover {
    color: blue;
  }
}

.yellow-box {
  width: 800px;
  font-family: helvetica;
  background-color: #dbd234;
  padding: 10px 10px;
  margin: 5px 5px;
  border-radius: 5px;
  border: 3px solid #f2e718;
}

.button-box {
  width: 800px;
  font-family: helvetica;
  background-color: #dbd234;
  padding: 10px 10px;
  margin: 5px 5px;
  border-radius: 5px;
  border: 3px solid #f2e718;
}
